body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dae5ea; 
}
.nav1 {
    background-color: #2c2929;
    padding: 10px 0;
    text-align: center;
}
.nav1 h2{
    margin: 0;
    color: #dbe1d9;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #3eae21; 
    margin-bottom: 20px;
}
h2{
    color:red;
}

p {
    color: #333; 
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3; 
}

.features {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.feature {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #a6cfda;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out; 
}

.feature:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: aqua; 
}
.feature h3 {
    color: #333; 
}
